.tableButtons{
    background: #799d4b;
    box-shadow: none;
    border: 1px solid #669031;
    border-radius: 3px;
    cursor: pointer;
    font-size: 0.65rem;
    padding: 5px;
    color: white;
}
.tableButtons:hover, .tableButtons.active{
    outline: none !important;
    background-color: #6f8e48;
}
.actionBtn{
    text-decoration: underline;
}
.moreIcon{
    margin-top:-2px !important;
    position: absolute !important;
    margin-left:6px !important;
    font-size: 1.2rem !important;
}
.starImage{
    width:25px;
}